openapi: 3.1.0
info:
  contact:
    email: hello@openskin.dev
  description: "Catalog, pricing, inventory, inspect, media, Steam profile, trading,\
    \ and webhook APIs for CS2 applications."
  title: OpenSkin Platform API
  version: 1.0.0
servers:
- description: Production
  url: https://api-v2.openskin.dev
paths:
  /v2/health:
    get:
      description: Returns the Platform v2 API process status.
      operationId: getV2Health
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetHealthResponse"
          description: Platform v2 contract is served
      summary: Check Platform API health
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/status:
    get:
      description: "Returns health information for Platform data, caches, media, webhooks,\
        \ and Steam automation."
      operationId: getV2OperationalStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2OperationalStatusResponse"
          description: "Current aggregate Platform state, including degraded components"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Status service is not configured
      summary: Read Platform operational status
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/meta/capabilities:
    get:
      description: "Lists each Platform feature as production, unavailable, or planned,\
        \ together with the API-key scopes it requires."
      operationId: listV2Capabilities
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListCapabilitiesResponse"
          description: Current feature availability and required scopes
      summary: List Platform feature availability
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/meta/scopes:
    get:
      description: Returns every recognized scope in stable documentation order.
      operationId: listV2Scopes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListScopesResponse"
          description: Recognized Platform scopes
      summary: List Platform API-key scopes
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/me:
    get:
      description: "Authenticates the API key and returns its workspace, service tier,\
        \ and granted scopes."
      operationId: getV2Principal
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PrincipalResponse"
          description: Current API-key details
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "503":
          $ref: "#/components/responses/V2UsageUnavailable"
      security:
      - PlatformAPIKey: []
      summary: Read the current API key
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/usage:
    get:
      description: Returns the workspace-wide minute and UTC-day weighted unit budget
        shared by every key in the subscribed workspace. Per-operation request/unit/error
        counters remain attributed to the current API key. Calling this endpoint consumes
        one unit.
      operationId: getV2Usage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetUsageResponse"
          description: Live Valkey-backed usage summary
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "503":
          $ref: "#/components/responses/V2UsageUnavailable"
      security:
      - PlatformAPIKey: []
      summary: Read live weighted Platform usage
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/audit/events:
    get:
      description: "Returns the workspace’s audit events in newest-first order, including\
        \ Platform settings and Steam automation events. Secret fields are removed\
        \ from nested metadata. Each event can store up to 32 KiB of metadata."
      operationId: listV2AuditEvents
      parameters:
      - explode: true
        in: query
        name: source
        required: false
        schema:
          enum:
          - platform
          - steam
          type: string
        style: form
      - explode: true
        in: query
        name: event_type
        required: false
        schema:
          pattern: "^[a-z][a-z0-9_.-]{1,79}$"
          type: string
        style: form
      - explode: true
        in: query
        name: resource_type
        required: false
        schema:
          pattern: "^[a-z][a-z0-9_.-]{1,79}$"
          type: string
        style: form
      - explode: true
        in: query
        name: outcome
        required: false
        schema:
          enum:
          - accepted
          - rejected
          - succeeded
          - failed
          - recorded
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Cursor returned by the previous page. Pass it back unchanged
          and with the same filters; otherwise the API returns 400.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListAuditEventsResponse"
          description: Workspace-owned audit page
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Malformed or cross-filter cursor
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: The API key does not have audit:read
        "503":
          $ref: "#/components/responses/V2UsageUnavailable"
      security:
      - PlatformAPIKey: []
      summary: List workspace audit events
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/audit/exports:
    get:
      description: Returns audit export jobs in newest-first order.
      operationId: listV2AuditExports
      parameters:
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - queued
          - leased
          - completed
          - failed
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Cursor returned by the previous page. Pass it back unchanged
          and with the same state filter.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2AuditExportPageResponse"
          description: Workspace-owned audit export page
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid filter or cursor
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "503":
          $ref: "#/components/responses/V2UsageUnavailable"
      security:
      - PlatformAPIKey: []
      summary: List audit export jobs
      tags:
      - Platform v2
      x-openskin-availability: production
    post:
      description: "Queues a verified export of audit events in the requested time\
        \ range. The range must be in the past, use an inclusive start and exclusive\
        \ end, and span no more than 32 days."
      operationId: createV2AuditExport
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2CreateAuditExportRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2AuditExportReceiptResponse"
          description: Idempotent replay returned the original job
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2AuditExportReceiptResponse"
          description: Audit export job created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid range or request document
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Idempotency key was reused with a different range
        "503":
          $ref: "#/components/responses/V2UsageUnavailable"
      security:
      - PlatformAPIKey: []
      summary: Create an audit export
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/audit/exports/{export_id}:
    get:
      description: "Returns one audit export job. A completed, unexpired export includes\
        \ a new short-lived HTTPS download URL."
      operationId: getV2AuditExport
      parameters:
      - explode: false
        in: path
        name: export_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2AuditExportJobResponse"
          description: Workspace-owned audit export job
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Export is absent or belongs to another workspace
        "503":
          $ref: "#/components/responses/V2UsageUnavailable"
      security:
      - PlatformAPIKey: []
      summary: Read an audit export
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/items:
    get:
      description: Returns Steam Market item variants that use the cs2.market.v1 identity
        format. Treat catalog IDs and cursors as API-generated values and pass them
        back unchanged.
      operationId: listV2CatalogItems
      parameters:
      - description: Literal case-insensitive substring of market_hash_name.
        explode: true
        in: query
        name: q
        required: false
        schema:
          maxLength: 120
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: weapon
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: exterior
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: rarity
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: phase
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: stattrak
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: souvenir
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: definition_index
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: paint_index
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Cursor returned by the previous page. Omit it for the first page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListCatalogItemsResponse"
          description: Catalog page
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid filter or cursor
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog or usage service unavailable
      security:
      - PlatformAPIKey: []
      summary: List CS2 catalog items
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/items/{catalog_id}:
    get:
      description: Returns the catalog item identified by a versioned catalog ID.
      operationId: getV2CatalogItem
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          pattern: "^cs2\\.market\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCatalogItemResponse"
          description: Exact catalog variant
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Unsupported or malformed catalog identity
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog item not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog or usage service unavailable
      security:
      - PlatformAPIKey: []
      summary: Read a CS2 catalog item
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/collections:
    get:
      description: Returns CS2 collections and the source of each collection record.
        Current collection membership data comes from ByMykel CSGO-API.
      operationId: listV2CatalogCollections
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListCatalogCollectionsResponse"
          description: Collection summaries
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: List CS2 collections
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/collections/{collection_id}:
    get:
      description: Returns one collection and its Steam Market item variants.
      operationId: getV2CatalogCollection
      parameters:
      - explode: false
        in: path
        name: collection_id
        required: true
        schema:
          pattern: "^cs2\\.collection\\.bymykel\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCatalogCollectionResponse"
          description: Collection detail
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Unsupported collection identity
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Collection not found
      security:
      - PlatformAPIKey: []
      summary: Read a CS2 collection
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/containers:
    get:
      description: Returns CS2 containers and the number of imported regular and rare
        drops for each container.
      operationId: listV2CatalogContainers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListCatalogContainersResponse"
          description: Container summaries
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: List CS2 containers
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/containers/{catalog_id}/contents:
    get:
      description: Returns the regular and rare item drops recorded for one container.
      operationId: getV2CatalogContainerContents
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          pattern: "^cs2\\.market\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCatalogContainerContentsResponse"
          description: Container and drop relationships
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Unsupported catalog identity
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Container or imported contents not found
      security:
      - PlatformAPIKey: []
      summary: List a container's contents
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/currencies:
    get:
      description: Rates are expressed as units of the named currency per one USD
        and retain the Frankfurter observation timestamp.
      operationId: listV2CatalogCurrencies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListCatalogCurrenciesResponse"
          description: Current currency references
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: List decimal exchange-rate references
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/snapshot:
    get:
      description: Returns a SHA-256 digest and ETag for the current catalog state.
        The result represents one database transaction and is cached for five minutes.
      operationId: getV2CatalogSnapshot
      parameters:
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCatalogSnapshotResponse"
          description: Current catalog snapshot
          headers:
            ETag:
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: The caller already has the current cached snapshot
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: Read current catalog state
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/releases/latest:
    get:
      description: Returns the latest release only after verifying its Ed25519 signature
        with the configured trusted key. A published release cannot be changed.
      operationId: getLatestV2CatalogRelease
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetLatestCatalogReleaseResponse"
          description: Latest verified release
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: No release has been published
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Release verification is not configured
      security:
      - PlatformAPIKey: []
      summary: Read the latest catalog release
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/releases/{release_id}:
    get:
      description: Returns the requested catalog release after verifying its signature.
      operationId: getV2CatalogRelease
      parameters:
      - explode: false
        in: path
        name: release_id
        required: true
        schema:
          pattern: "^cs2rel_[A-Za-z0-9_-]{43}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCatalogReleaseResponse"
          description: Verified signed release
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Release not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Release verification is not configured
      security:
      - PlatformAPIKey: []
      summary: Read a catalog release
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/releases/{release_id}/export:
    get:
      description: Returns a five-minute download URL for the signed release’s gzip-compressed
        NDJSON archive.
      operationId: getV2CatalogReleaseExport
      parameters:
      - explode: false
        in: path
        name: release_id
        required: true
        schema:
          pattern: "^cs2rel_[A-Za-z0-9_-]{43}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCatalogReleaseExportResponse"
          description: Verified archive receipt and temporary download URL
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid catalog release identity
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: The signed release or its verified archive was not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Release verification or read-only object signing is unavailable
      security:
      - PlatformAPIKey: []
      summary: Download a catalog release
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/catalog/release-keys:
    get:
      description: Lists the public keys trusted to verify catalog releases.
      operationId: listV2CatalogReleaseKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListCatalogReleaseKeysResponse"
          description: Configured public verification keys
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Release verification is not configured
      security:
      - PlatformAPIKey: []
      summary: List catalog release verification keys
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/prices/{catalog_id}:
    get:
      description: "Returns current prices for one catalog item as decimal strings,\
        \ including source time and freshness. A version filter selects one stored\
        \ version; an unfiltered request returns every stored version."
      operationId: getV2CurrentPrices
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          pattern: "^cs2\\.market\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      - description: "Exact source pattern, phase, or tier. Omit to return all stored\
          \ versions."
        explode: true
        in: query
        name: version
        required: false
        schema:
          maxLength: 120
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCurrentPricesResponse"
          description: Current source observations
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid catalog identity or version
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog item not found
      security:
      - PlatformAPIKey: []
      summary: Read current prices for one catalog item
      tags:
      - Platform v2 pricing
      x-openskin-availability: production
  /v2/prices/{catalog_id}/orderbook:
    get:
      description: "Returns exact decimal bid, ask, spread, active order counts, stored\
        \ depth, slippage, liquidity, source time, and freshness. The order book is\
        \ Steam-only and is not inferred from third-party listings."
      operationId: getV2CurrentOrderBook
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          pattern: "^cs2\\.market\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCurrentOrderBookResponse"
          description: Current Steam order book
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid catalog identity
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog item or stored Steam order book not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Stored order book failed validation
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Order-book service unavailable
      security:
      - PlatformAPIKey: []
      summary: Read the current Steam order book for one catalog item
      tags:
      - Platform v2 pricing
      x-openskin-availability: production
  /v2/prices/{catalog_id}/orderbook/history:
    get:
      description: "Returns historical Steam order-book data for one catalog item.\
        \ Each point includes the best bid and ask, spread, buy and sell order counts,\
        \ price depth, slippage, and observation time. Use `from` and `to` to limit\
        \ the time range."
      operationId: getV2OrderBookHistory
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          pattern: "^cs2\\.market\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: "Cursor returned by the previous page. Pass it back unchanged\
          \ with the same `catalog_id`, `from`, and `to` values."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetOrderBookHistoryResponse"
          description: Historical Steam order-book data for the item
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid identity, range, limit, or cursor"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog item not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Stored history failed validation
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Order-book service unavailable
      security:
      - PlatformAPIKey: []
      summary: Read historical Steam buy and sell orders
      tags:
      - Platform v2 pricing
      x-openskin-availability: production
  /v2/prices/batch:
    post:
      description: Returns prices for up to 100 catalog items in request order. Items
        with a valid ID but no stored price are reported separately.
      operationId: getV2CurrentPricesBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2CurrentPriceBatchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCurrentPricesBatchResponse"
          description: Current price batch
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid, duplicate, empty, or oversized batch"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: Read current prices for up to 100 catalog items
      tags:
      - Platform v2 pricing
      x-openskin-availability: production
  /v2/prices/{catalog_id}/history:
    get:
      description: "Returns stored daily, hourly, or 10-minute source prices as decimal\
        \ strings. Pass a cursor back only with the same filters."
      operationId: getV2PriceHistory
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          pattern: "^cs2\\.market\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      - explode: true
        in: query
        name: marketplace
        required: true
        schema:
          enum:
          - steam
          - skinport
          - buff
          - youpin
          - csfloat
          type: string
        style: form
      - description: Exact pattern or phase. Omit to return each stored version as
          a separate point.
        explode: true
        in: query
        name: version
        required: false
        schema:
          maxLength: 120
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: daily
          enum:
          - daily
          - hourly
          - 10min
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetPriceHistoryResponse"
          description: One page of source history
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid identity, source, range, granularity, limit, or cursor"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog item not found
      security:
      - PlatformAPIKey: []
      summary: Read source price history
      tags:
      - Platform v2 pricing
      x-openskin-availability: production
  /v2/prices/{catalog_id}/history/aggregate:
    get:
      description: Returns decimal price aggregates for each item version and identifies
        every marketplace and source price included in each aggregate.
      operationId: getV2AggregatePriceHistory
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          pattern: "^cs2\\.market\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      - description: Exact pattern or phase. Omit to return each version as a separate
          aggregate point.
        explode: true
        in: query
        name: version
        required: false
        schema:
          maxLength: 120
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: daily
          enum:
          - daily
          - hourly
          - 10min
          type: string
        style: form
      - explode: true
        in: query
        name: minimum_sources
        required: false
        schema:
          default: 1
          maximum: 5
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetAggregatePriceHistoryResponse"
          description: One page of cross-market history
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid identity, range, coverage, granularity, limit, or\
            \ cursor"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog item not found
      security:
      - PlatformAPIKey: []
      summary: Read cross-market price history
      tags:
      - Platform v2 pricing
      x-openskin-availability: production
  /v2/prices/{catalog_id}/history/coverage:
    get:
      description: "Reports the stored time range and the number of present, expected,\
        \ and missing buckets for each marketplace, version, and interval. It also\
        \ returns a SHA-256 receipt for the page."
      operationId: getV2PriceHistoryCoverage
      parameters:
      - explode: false
        in: path
        name: catalog_id
        required: true
        schema:
          pattern: "^cs2\\.market\\.v1\\.[A-Za-z0-9_-]+$"
          type: string
        style: simple
      - explode: true
        in: query
        name: marketplace
        required: false
        schema:
          enum:
          - steam
          - skinport
          - buff
          - youpin
          - csfloat
          type: string
        style: form
      - description: Exact pattern or phase; an explicit empty value selects only
          the unversioned series.
        explode: true
        in: query
        name: version
        required: false
        schema:
          maxLength: 120
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - daily
          - hourly
          - 10min
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: "Filter-bound keyset cursor over marketplace, version, and granularity."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetPriceHistoryCoverageResponse"
          description: One page of exact stored series coverage
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid identity, filter, limit, or cursor"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog item not found
      security:
      - PlatformAPIKey: []
      summary: Read price-history coverage
      tags:
      - Platform v2 pricing
      x-openskin-availability: production
  /v2/markets:
    get:
      description: Lists supported marketplaces and the age at which each source is
        considered stale.
      operationId: listV2Markets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListMarketsResponse"
          description: Integrated market references
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: List marketplaces
      tags:
      - Platform v2 pricing
      x-openskin-availability: production
  /v2/market/summary:
    get:
      description: "Returns current USD totals calculated from the latest source prices.\
        \ This is a point-in-time summary, not a historical price index."
      operationId: getV2MarketSummary
      parameters:
      - explode: true
        in: query
        name: marketplace
        required: false
        schema:
          enum:
          - steam
          - skinport
          - buff
          - youpin
          - csfloat
          type: string
        style: form
      - explode: true
        in: query
        name: segment
        required: false
        schema:
          enum:
          - type
          - weapon
          - rarity
          - exterior
          - stattrak
          - souvenir
          - phase
          - collection
          type: string
        style: form
      - description: Exact segment value; required with segment.
        explode: true
        in: query
        name: value
        required: false
        schema:
          maxLength: 160
          type: string
        style: form
      - explode: true
        in: query
        name: fresh_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetMarketSummaryResponse"
          description: Current market summary
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid source or segment filter
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: Read the current CS2 market summary
      tags:
      - Platform v2 market analytics
      x-openskin-availability: production
  /v2/market/segments:
    get:
      description: Lists the CS2 item segments that currently have enough price data
        for market-index calculations.
      operationId: listV2MarketSegments
      parameters:
      - explode: true
        in: query
        name: dimension
        required: true
        schema:
          enum:
          - type
          - weapon
          - rarity
          - exterior
          - stattrak
          - souvenir
          - phase
          - collection
          type: string
        style: form
      - explode: true
        in: query
        name: marketplace
        required: false
        schema:
          enum:
          - steam
          - skinport
          - buff
          - youpin
          - csfloat
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListMarketSegmentsResponse"
          description: Segment values and priced-item coverage
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid dimension, source, or limit"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: List CS2 market segments
      tags:
      - Platform v2 market analytics
      x-openskin-availability: production
  /v2/market-index/cs2:
    get:
      description: "Returns the latest successful cs2.chain-equal-weight.v1 index\
        \ calculation for one marketplace and, optionally, one segment. The response\
        \ includes the latest point and the data needed to reproduce the calculation."
      operationId: getV2CS2MarketIndex
      parameters:
      - explode: true
        in: query
        name: marketplace
        required: true
        schema:
          enum:
          - steam
          - skinport
          - buff
          - youpin
          - csfloat
          type: string
        style: form
      - explode: true
        in: query
        name: segment
        required: false
        schema:
          enum:
          - type
          - weapon
          - rarity
          - exterior
          - stattrak
          - souvenir
          - phase
          - collection
          type: string
        style: form
      - description: Exact segment value; required with segment.
        explode: true
        in: query
        name: value
        required: false
        schema:
          maxLength: 160
          type: string
        style: form
      - explode: true
        in: query
        name: methodology
        required: false
        schema:
          default: cs2.chain-equal-weight.v1
          enum:
          - cs2.chain-equal-weight.v1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCS2MarketIndexResponse"
          description: Newest successful completed index calculation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid source, segment, or methodology"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: No successful calculation matches the exact query
      security:
      - PlatformAPIKey: []
      summary: Read the current CS2 market index
      tags:
      - Platform v2 market analytics
      x-openskin-availability: production
  /v2/market-index/cs2/coverage:
    get:
      description: Reports the stored and missing daily buckets for the latest completed
        index calculation. Missing ranges include both boundary dates.
      operationId: getV2CS2MarketIndexCoverage
      parameters:
      - explode: true
        in: query
        name: marketplace
        required: true
        schema:
          enum:
          - steam
          - skinport
          - buff
          - youpin
          - csfloat
          type: string
        style: form
      - explode: true
        in: query
        name: segment
        required: false
        schema:
          enum:
          - type
          - weapon
          - rarity
          - exterior
          - stattrak
          - souvenir
          - phase
          - collection
          type: string
        style: form
      - description: Exact segment value; required with segment.
        explode: true
        in: query
        name: value
        required: false
        schema:
          maxLength: 160
          type: string
        style: form
      - explode: true
        in: query
        name: methodology
        required: false
        schema:
          default: cs2.chain-equal-weight.v1
          enum:
          - cs2.chain-equal-weight.v1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCS2MarketIndexCoverageResponse"
          description: Deterministic stored-history coverage receipt
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid source, segment, or methodology"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: No successful calculation matches the exact query
      security:
      - PlatformAPIKey: []
      summary: Read CS2 market-index history coverage
      tags:
      - Platform v2 market analytics
      x-openskin-availability: production
  /v2/market-index/cs2/history:
    get:
      description: "Returns daily, weekly, or monthly candles from the latest completed\
        \ index calculation, ordered newest first."
      operationId: getV2CS2MarketIndexHistory
      parameters:
      - explode: true
        in: query
        name: marketplace
        required: true
        schema:
          enum:
          - steam
          - skinport
          - buff
          - youpin
          - csfloat
          type: string
        style: form
      - explode: true
        in: query
        name: segment
        required: false
        schema:
          enum:
          - type
          - weapon
          - rarity
          - exterior
          - stattrak
          - souvenir
          - phase
          - collection
          type: string
        style: form
      - description: Exact segment value; required with segment.
        explode: true
        in: query
        name: value
        required: false
        schema:
          maxLength: 160
          type: string
        style: form
      - explode: true
        in: query
        name: methodology
        required: false
        schema:
          default: cs2.chain-equal-weight.v1
          enum:
          - cs2.chain-equal-weight.v1
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: daily
          enum:
          - daily
          - weekly
          - monthly
          type: string
        style: form
      - description: Inclusive RFC3339 candle boundary.
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Exclusive RFC3339 candle boundary.
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Filter-bound keyset cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetCS2MarketIndexHistoryResponse"
          description: One page of index candles and the completed calculation receipt
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid source, segment, methodology, granularity, time range,\
            \ limit, or cursor"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: No successful calculation matches the exact query
      security:
      - PlatformAPIKey: []
      summary: Read CS2 market-index OHLC history
      tags:
      - Platform v2 market analytics
      x-openskin-availability: production
  /v2/market-index/cs2/compare:
    get:
      description: "Compares two to eight separately calculated segment indices. The\
        \ response preserves request order. If any requested series is missing, the\
        \ endpoint returns an error instead of a partial comparison."
      operationId: compareV2CS2MarketIndices
      parameters:
      - explode: true
        in: query
        name: marketplace
        required: true
        schema:
          enum:
          - steam
          - skinport
          - buff
          - youpin
          - csfloat
          type: string
        style: form
      - explode: true
        in: query
        name: segment
        required: true
        schema:
          enum:
          - type
          - weapon
          - rarity
          - exterior
          - stattrak
          - souvenir
          - phase
          - collection
          type: string
        style: form
      - description: Repeat this parameter two to eight times; request order becomes
          response-series order.
        explode: true
        in: query
        name: value
        required: true
        schema:
          items:
            maxLength: 160
            type: string
          maxItems: 8
          minItems: 2
          type: array
          uniqueItems: true
          default: null
        style: form
      - explode: true
        in: query
        name: methodology
        required: false
        schema:
          default: cs2.chain-equal-weight.v1
          enum:
          - cs2.chain-equal-weight.v1
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: daily
          enum:
          - daily
          - weekly
          - monthly
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Maximum candles per series.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 365
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2CompareCS2MarketIndicesResponse"
          description: Ordered segment-index series
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "The request contains an invalid segment, a duplicate segment,\
            \ or too many segments"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: One or more requested segments have no successful calculation
      security:
      - PlatformAPIKey: []
      summary: Compare CS2 segment indices
      tags:
      - Platform v2 market analytics
      x-openskin-availability: production
  /v2/inventories/{steam_id}:
    get:
      description: "Returns any public Steam inventory with one record per asset and\
        \ exact Valve-provided item state when available, including wear, paint seed,\
        \ applied stickers, charms or keychains with pattern and offsets, StatTrak,\
        \ and name tag. A Platform API key authenticates the API caller, and a publicly\
        \ visible Steam inventory is the owner's sole requirement."
      operationId: getV2Inventory
      parameters:
      - explode: false
        in: path
        name: steam_id
        required: true
        schema:
          pattern: "^7656119[0-9]{10}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetInventoryResponse"
          description: Normalized inventory snapshot
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: Read a CS2 inventory
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/inventories/batch:
    post:
      description: Results preserve input order and report failures per SteamID.
      operationId: getV2InventoryBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2InventoryBatchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2InventoryBatchResponse"
          description: Ordered inventory results with per-entry data or typed error
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: Resolve up to 20 CS2 inventories
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/inspect/decode:
    post:
      description: "Reads a current CS2 inspect link and returns its wear, paint seed,\
        \ stickers, charm, StatTrak value, and name tag."
      operationId: decodeV2Inspect
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2InspectDecodeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2DecodeInspectResponse"
          description: Standard item state used by the inventory and rendering APIs
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid inspect link or certificate
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: Read item details from a CS2 inspect link
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/inspect/resolve-item:
    post:
      description: "Reads a current CS2 inspect link, identifies its catalog item,\
        \ and returns the details needed to create an image or 3D view."
      operationId: resolveV2InspectItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2ResolveItemRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ResolveItemResponse"
          description: Returns the item details and whether one matching catalog item
            was found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid request or inspect link
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog resolution failed
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Inspect decoding or catalog resolution is not configured
      security:
      - PlatformAPIKey: []
      summary: Match an inspect link to an OpenSkin catalog item
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/inspect/viewer-session:
    post:
      description: Reads a current CS2 inspect link and creates a temporary 3D link
        using saved camera and background settings.
      operationId: createV2InspectViewerSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2InspectViewerSessionRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2InspectViewerSessionReceipt"
          description: Temporary 3D link created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid inspect link or scene selector
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Item or saved settings not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: The certificate is ambiguous
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog resolution failed
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Inspect resolution or viewer session creation is unavailable
      security:
      - PlatformAPIKey: []
      summary: Create a viewer session from an inspect link
      tags:
      - Platform v2 media
      x-openskin-availability: production
  /v2/inspect/render:
    post:
      description: "Requires inspect:read, catalog:read, and render:create. Reads\
        \ a current inspect link and creates a transparent PNG or WebP that keeps\
        \ its StatTrak value, name tag, stickers, charm, wear, and pattern."
      operationId: createV2InspectImageRender
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2InspectImageRenderRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2InspectImageRenderReceipt"
          description: Same image request returned again
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2InspectImageRenderReceipt"
          description: Image request accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid inspect link, scene selector, output, or idempotency\
            \ key"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Item or saved settings not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: The certificate is ambiguous or the idempotency key has different
            content
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Catalog resolution failed
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Inspect resolution or image rendering is unavailable
      security:
      - PlatformAPIKey: []
      summary: Queue an image from an inspect link
      tags:
      - Platform v2 media
      x-openskin-availability: production
  /v2/inspect/create-link:
    post:
      description: Creates a current CS2 inspect link from the supplied item data.
      operationId: createV2InspectLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2InspectCreateLinkRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2InspectCreateLinkResponse"
          description: Current CS2 inspect link
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid item state
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Inspect certificate encoding failed
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Inspect encoding is not configured
      security:
      - PlatformAPIKey: []
      summary: Create a current CS2 inspect link
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/inspect/resolve-market-listing:
    post:
      description: "Fetches the listing from Steam Community Market, verifies that\
        \ its listing ID matches the request, and decodes Valve asset property 6 into\
        \ the public item format. The request accepts a listing ID, not an arbitrary\
        \ URL or inspect certificate."
      operationId: resolveV2MarketListingInspect
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2MarketListingInspectRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2MarketListingInspectResponse"
          description: Valve-validated public market-listing item state
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid market hash name or listing identifier
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Listing is not currently present on the Steam Market page
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Steam Market page data was unavailable or invalid
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Market-listing resolver is not configured
      security:
      - PlatformAPIKey: []
      summary: Resolve a current Steam Market listing
      tags:
      - Platform v2
      x-openskin-availability: production
  /v2/steam/ids/{steam_id}:
    get:
      description: "Converts a public individual SteamID64, SteamID2, or SteamID3\
        \ to the other supported formats."
      operationId: normalizeV2SteamID
      parameters:
      - $ref: "#/components/parameters/V2SteamID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2NormalizeSteamIDResponse"
          description: Supported Steam ID formats
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid or unsupported Steam ID
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: Normalize a Steam ID
      tags:
      - Platform v2 profiles
      x-openskin-availability: production
  /v2/steam/resolve/{identity}:
    get:
      description: "Normalizes SteamID64, SteamID2, and SteamID3 locally. Vanity names\
        \ are resolved through Valve's documented ResolveVanityURL endpoint and include\
        \ source, observation, and cache metadata."
      operationId: resolveV2SteamIdentity
      parameters:
      - description: "Public individual SteamID64, SteamID2, SteamID3, or Steam Community\
          \ vanity name"
        explode: false
        in: path
        name: identity
        required: true
        schema:
          maxLength: 64
          minLength: 2
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ResolveSteamIdentityResponse"
          description: Normalized Steam account identity
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid Steam identity or vanity syntax
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Vanity name not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Valve is rate limiting vanity resolution
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Valve profile integration is not configured in v2-test
      security:
      - PlatformAPIKey: []
      summary: Resolve a Steam account identity
      tags:
      - Platform v2 profiles
      x-openskin-availability: production
  /v2/profiles/{steam_id}:
    get:
      description: Returns a normalized public profile with explicit source and cache
        freshness.
      operationId: getV2SteamProfile
      parameters:
      - $ref: "#/components/parameters/V2SteamID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetSteamProfileResponse"
          description: Normalized Steam profile
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Profile not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Profile service is not configured in v2-test
      security:
      - PlatformAPIKey: []
      summary: Get a public Steam profile
      tags:
      - Platform v2 profiles
      x-openskin-availability: production
  /v2/profiles/batch:
    post:
      description: "Preserves request order, coalesces duplicate IDs, and reports\
        \ missing profiles per entry."
      operationId: getV2SteamProfileBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2ProfileBatchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetSteamProfileBatchResponse"
          description: Ordered profile results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid batch
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Profile service is not configured in v2-test
      security:
      - PlatformAPIKey: []
      summary: Get up to 20 public Steam profiles
      tags:
      - Platform v2 profiles
      x-openskin-availability: production
  /v2/profiles/{steam_id}/friends:
    get:
      description: Returns the current public friend list for one Steam profile.
      operationId: getV2SteamFriends
      parameters:
      - $ref: "#/components/parameters/V2SteamID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetSteamFriendsResponse"
          description: Public friend list
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: API scope missing or the friend list is private
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Profile service is not configured in v2-test
      security:
      - PlatformAPIKey: []
      summary: Get a public Steam friend list
      tags:
      - Platform v2 profiles
      x-openskin-availability: production
  /v2/profiles/{steam_id}/trade-eligibility:
    get:
      description: Reports public ban/economy signals only. complete is always false
        because private holds and partner-specific restrictions require an authenticated
        account check.
      operationId: getV2SteamTradeEligibility
      parameters:
      - $ref: "#/components/parameters/V2SteamID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetSteamTradeEligibilityResponse"
          description: Public trade-restriction signals
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Profile service is not configured in v2-test
      security:
      - PlatformAPIKey: []
      summary: Get public Steam trade-restriction signals
      tags:
      - Platform v2 profiles
      x-openskin-availability: production
  /v2/steam/accounts:
    get:
      description: Returns the connected Steam accounts owned by the current workspace.
      operationId: listV2SteamAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ListSteamAccountsResponse"
          description: Workspace-owned account records
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: List connected Steam accounts
      tags:
      - Platform v2 automation
      x-openskin-availability: production
    post:
      description: Creates a Steam account record for the current workspace.
      operationId: createV2SteamAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2SteamAccountCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2SteamAccount"
          description: Account record created
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
      security:
      - PlatformAPIKey: []
      summary: Create a Steam account record
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/health:
    get:
      description: "Returns the account’s session, authenticator, inventory, reconciliation,\
        \ command, and trading status."
      operationId: getV2SteamAccountHealth
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetSteamAccountHealthResponse"
          description: Workspace-specific operational health receipt
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Account not found for this workspace
      security:
      - PlatformAPIKey: []
      summary: Read Steam account health
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/controls:
    put:
      description: Pauses or resumes Steam account changes. Pausing cancels queued
        state-changing commands and disables the active trade policy.
      operationId: updateV2SteamAccountControls
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2SteamAccountControlRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2UpdateSteamAccountControlsResponse"
          description: Workspace-specific control receipt
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid control request
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Account not found for this workspace
      security:
      - PlatformAPIKey: []
      summary: Pause or resume Steam account changes
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/login:
    post:
      description: Authenticates a connected Steam account with a username and password
        or a Steam refresh token. Successful authentication saves a refresh token
        for later sessions.
      operationId: loginV2SteamAccount
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2SteamLoginRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2CommandReceipt"
          description: Authentication command queued
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: encrypted storage or automation worker is unavailable
      security:
      - PlatformAPIKey: []
      summary: Authenticate a Steam account
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/web-api-key:
    post:
      description: Stores the connected account’s IEconService key in encrypted workspace
        storage.
      operationId: importV2SteamWebAPIKey
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2SteamWebAPIKeyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2CommandReceipt"
          description: Key encrypted and imported
          headers:
            Cache-Control:
              explode: false
              schema:
                example: "private, no-store"
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: The key is not exactly 32 hexadecimal characters
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Managed Steam account not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: encrypted storage is unavailable
      security:
      - PlatformAPIKey: []
      summary: Store a Steam Web API key
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/refresh-session:
    post:
      description: Uses the encrypted refresh token inside the isolated worker and
        rotates only the encrypted short-lived session cookie. No token is returned
        in command data.
      operationId: refreshV2SteamSession
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2CommandReceipt"
          description: Session-refresh command queued
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: encrypted storage or automation worker is unavailable
      security:
      - PlatformAPIKey: []
      summary: Renew a Steam Community session
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/inventory/sync:
    post:
      description: Queues a private CS2 inventory sync through Steam’s Econ service
        and returns the command status.
      operationId: syncV2AuthenticatedSteamInventory
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2CommandReceipt"
          description: Authenticated inventory sync queued
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Connected account not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: encrypted storage or Steam automation is unavailable
      security:
      - PlatformAPIKey: []
      summary: Synchronize the connected account inventory
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/inventory:
    get:
      description: "Returns the latest saved inventory for the connected account with\
        \ catalog, price, valuation, and inspect-link fields."
      operationId: getV2AuthenticatedSteamInventory
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetAuthenticatedSteamInventoryResponse"
          description: Latest workspace-owned authenticated inventory
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Account or authenticated snapshot not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Inventory normalization is unavailable
      security:
      - PlatformAPIKey: []
      summary: Read the latest authenticated inventory
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/inventory/history:
    get:
      description: "Returns saved inventory snapshots and the exact assets added,\
        \ removed, or changed between snapshots for a Steam account owned by the current\
        \ workspace. It omits historical valuations because applying current prices\
        \ to older inventories would be misleading. Requires accounts:read and inventory:read."
      operationId: listV2AuthenticatedSteamInventoryHistory
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2GetAuthenticatedInventoryHistoryResponse"
          description: Newest-first authenticated inventory history
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: "Invalid account, limit, or cursor"
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Connected account not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Steam automation is unavailable
      security:
      - PlatformAPIKey: []
      summary: List authenticated inventory history
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/guard/code:
    post:
      description: Generates a Steam Guard code and encrypts it for the caller’s P-256
        public key.
      operationId: generateV2SteamGuardCode
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2EncryptedDeliveryRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2CommandReceipt"
          description: Command queued
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: OpenSkin does not hold authenticator material for the connected
            customer-owned account
      security:
      - PlatformAPIKey: []
      summary: Generate a Steam Guard code
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/trade-link:
    post:
      description: Returns the account’s current Steam trade URL encrypted for the
        caller’s P-256 public key.
      operationId: fetchV2SteamTradeLink
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2EncryptedDeliveryRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2CommandReceipt"
          description: Trade-link command queued
          headers:
            Cache-Control:
              explode: false
              schema:
                example: "private, no-store"
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid account ID or delivery public key
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Connected account not found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: encrypted storage or Steam automation is unavailable
      security:
      - PlatformAPIKey: []
      summary: Fetch the connected account's inbound trade-offer link
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/authenticator/import:
    post:
      description: Imports and stores the account’s Steam authenticator values as
        one encrypted set.
      operationId: importV2SteamAuthenticator
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V2AuthenticatorImport"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2CommandReceipt"
          description: Authenticator encrypted and imported atomically
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Invalid authenticator material
        "401":
          $ref: "#/components/responses/V2Unauthorized"
        "403":
          $ref: "#/components/responses/V2Forbidden"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: Idempotency key reused with different authenticator material
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2PlatformErrorResponse"
          description: encrypted storage is unavailable
      security:
      - PlatformAPIKey: []
      summary: Import an existing Steam mobile authenticator
      tags:
      - Platform v2 automation
      x-openskin-availability: production
  /v2/steam/accounts/{account_id}/authenticator/enroll:
    post:
      description: Stores the provisional authenticator data in encrypted storage
        for 24 hours. The data becomes active account credentials only after Steam
        accepts the finalization request.
      operationId: enrollV2SteamAuthenticator
      parameters:
      - $ref: "#/components/parameters/V2AccountID"
      - $ref: "#/components/parameters/IdempotencyKey"
      responses:
[...]
